<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>616414044812-9gto18d10rkcasj0lslg7q50iv8lvqap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616414044812-9gto18d10rkcasj0lslg7q50iv8lvqap</string>
	<key>API_KEY</key>
	<string>AIzaSyAutSWdaWgJNS02g8MGo1MxQP72Dv0PXgM</string>
	<key>GCM_SENDER_ID</key>
	<string>616414044812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.suttichai.fultterwithfirebase.test</string>
	<key>PROJECT_ID</key>
	<string>goodsstory-4c789</string>
	<key>STORAGE_BUCKET</key>
	<string>goodsstory-4c789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616414044812:ios:8ede87bfd99e78dd</string>
	<key>DATABASE_URL</key>
	<string>https://goodsstory-4c789.firebaseio.com</string>
</dict>
</plist>